/* Reset básico para remover estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo da página */
  body {
    font-family: 'Arial', sans-serif;
    background-color: aliceblue; /* Cor de fundo suave */
    color: #333; /* Cor do texto */
    line-height: 1.6;
    padding: 20px;
  }
  
  /* Cabeçalho */
  header {
    background-color: #6ec171; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto no cabeçalho */
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  /* Navegação */
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline; /* Deixar os itens do menu na mesma linha */
    margin-right: 15px;
  }
  
  nav ul li a {
    color: white; /* Cor dos links do menu */
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline; /* Estilo ao passar o mouse sobre os links */
  }
  
  /* Conteúdo Principal */
  main {
    background-color: white; /* Cor de fundo do conteúdo principal */
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    max-width: 800px; /* Largura máxima do conteúdo principal */
  }
  
  main h2 {
    color: #4CAF50; /* Cor do título */
    margin-bottom: 15px;
  }
  
  main p {
    margin-bottom: 20px;
    text-align: justify; /* Justificar texto para melhor leitura */
  }
  
  main h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #4CAF50; /* Cor dos subtítulos */
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #706d6d; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto do rodapé */
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* Estilo responsivo */
  @media (max-width: 768px) {
    nav ul li {
      display: block; /* Muda para coluna em telas menores */
      margin-bottom: 10px;
    }
  
    main {
      padding: 15px; /* Reduz o padding em telas menores */
    }
  }
  